<sly data-sly-use.nav="TopNav">
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="row">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
             <a class="navbar-brand" href="${nav.rootPage.path}.html">${properties.topnavtitle}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav main-nav  clear navbar-right "
					data-sly-list="${nav.items}">
					<li class="dropdown">
                    <a class="dropdown-toggle colorwhite" 
						href="${item.path}.html">${item.title}</a></li>
					<ul class="dropdown-menu" data-sly-list.sub="${item.listChildren}">
						<li><a class ="colorwhite" href="${sub.path}.html">${sub.title}</a></li>

					</ul>

					</li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</div>
	<!-- /.container-fluid -->
</nav>

</sly>

