<sly data-sly-use.heroImage="HeroImage">
           <div  style="background : url(${heroImage.image.src @context='styleString'}) no-repeat center center;padding-bottom:290px;margin-bottom:40px;height:100%">
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="intro-title" data-sly-text="${properties.heading}">Restaurant</h2>
    <h2 class="intro-second-title" data-sly-text="${properties.introText}">" Trip Advisor Recommended "</h2>
                    <hr>
                </div>
            </div>
        </div>

</sly>



