<sly data-sly-use.footer="Footer">
     <footer class="sub_footer">
              <div class="container">
                 <div class="footer-social-icons">
                      <ul class="social-icons">
                      <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
                      </ul>
                  </div>
                  <div><p class="sub-footer-text text-center">  &copy; All Rights Reserved ${footer.currentYear}. <a href="https://shinesolutions.com/">Shine Solutions</a> Group</a></div>
              </div>
        </footer>
</sly>



